# Dependencies
node_modules

# Env
.env

# Prisma generated (si lo estás generando ahí)
src/generated/prisma

# Yarn (cache y archivos locales)
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Logs
*.log

# Mac
.DS_Store
